@import "components/fonts";
@import "components/resetcss";
@import "components/animations";
@import "components/variables";
@import "components/slick";
@import "components/media";

html {
    font-size: 10px;
}
body {
    background-color: #E5E5E5;
}
.page {
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

@import "components/navbar";
@import "components/header";
@import "components/products";
@import "components/about";
@import "components/footer";
@import "components/catalog";
@import "components/product";
@import "components/forms";

